@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Roboto:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}



#html{
    
}

#wrapper{
    width: 100%;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 54px;
    width: 100%;
    padding: 0 25px;
    text-align: center;
    list-style: none;
    display: flex;
    z-index: 10;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.2);
}

#header .menu li{
    list-style: none;
    display: inline-block;
}

#separator{
    flex-grow: 1;
}

#header .menu li a{
    text-decoration: none;
    color:#191919;
}

#header .menu2 ul{
    line-height: 52px;
    display: inline-block;
}

.menu2 .nav-item:hover li{
    border-bottom: solid 3px #FC6800;
}

#header .menu2 li a{
    padding: 16px;
}

#nav li{
    
}

#nav > li > a{
    line-height: 52px;
    color: #191919;
}

#nav  li  a{
    display: block;
    text-decoration: none;
    padding: 0 24px;
}

#nav  > li{
    display: inline-block;
}

#nav, .submenu-list, .submenu-list2{
    list-style-type: none;
}

#nav .submenu-list2,
#nav .submenu-list{
    display: none;
    position: absolute;
    height: 120px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #F7F7F7;
    list-style-type: none;
    transition: all .2s ease-in-out;
}

#logo{
    width: 48px;
    height: 48px;
}

#nav li:hover .submenu-list2,
#nav li:hover .submenu-list{
    display: block;
    background-color: #F7F7F7;
    height: 9.2vw;
    width: 100vw;
    position: absolute;
    left: 0px;
    
}


#nav > li:hover > a{
    border-bottom: solid #FC6800 3px;
    
}

#logo .logo_link .image_change{
    display: block;
    max-width: 60px;
    height: auto;
    position: absolute;
    top: 8px;
    left: 20px;
    text-align: center;
    z-index: 20px;
}

#nav .submenu-list .subnav{
    margin-top: 2.1vw;
}

#nav .submenu-list .Xiaomi{
    max-width: 7.9vw;
    height: auto;
    transform: translateX(-40%);
}

#nav .submenu-list .Redmi{
    max-width: 5vw;
    height: auto;
    transform: translateX(-40%);
}

#nav .submenu-list2 a{
    margin-top: 2vw;
}

#nav .submenu-list2 .tvlogo{
        position: absolute;
        font-size: 1vw;
        max-width: 13vw;
        color:#191919;
        font-weight: bolder;
        margin-top: 2vw;
        left: 48vw;
    }

#nav .submenu-list2 .fa-solid{
    position: absolute;
    font-size: 2.6vw;
    padding: 18px;
    left: 42vw;
}

#nav .submenu-list2 a:hover i,
#nav .submenu-list2 a:hover .tvlogo{
    color: #FC6800;
}


.navbar-collapse{
    position: absolute;
    top: 50px;
    right: 0;
    width: 80vw;
}

.nav-group .user-icon{
    position: relative;
}

.search-icon{
    cursor: pointer;
}

#search-modal{
    display: none;
    background-color: #F7F7F7;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 15;
    height: 50vh;
}

#lopphu{
    display: none;
    z-index: 1;
    background-color: #191919b0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 15;
}

#search-base{

    max-width: 100%;
    background-color: #fff;
    height: 70vh;
}

.search-exit{
    height: 30vh;
    position: fixed;
    z-index: 20px;
}

.search-base_container{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.search-bar .fa-solid{
    padding: 12px 20px;
    font-size: 25px;
    color: grey;
}

.search-bar{
    display: flex;
    width: 50vw;
    height: 55px;
    border: solid 3px #F7F7F7;
    border-radius: 15px;
}

.search{
    border: solid 3px #fff;
    width: 40vw;
    
}

.navbar-expand-md{
    z-index: 12;
    position: fixed;

}

#slideshow .carousel-control-prev{
    top: 20vw;
    left: 58vw;
}

#slideshow .carousel-control-next{
    top: 20vw;
    right: 12vw;
}

#content{
    margin-top: 54px;
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
}

#content .other,
#content .redmi,
#content .xiaomi{
    height: 14vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.other h2,
.redmi h2,
.xiaomi h2{
    font-weight: 600;
}

.slider{
    height: 40vw;
    background: url('/assets/img/Xiaomi/slider.webp') top center / cover no-repeat;
    position: relative;
}

.slider .title{
    position: absolute;
    top: 40%;
    left: 10vw;
}

.title button{
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    height: 35px;
    width: 80%;
}

#section1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#content > #section1 > .phone
{
    height: 36.3vw;
    width: 48.2vw;
    margin-top: 15px;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

#section1 .phone a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color:#191919;
    padding-top: 8%;
    align-items: center;
    text-transform:capitalize;
    flex-direction: column;
    text-align: center;
}


#section1 button{
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    width: 10vw;
    margin-top: 2vw;
    font-size: 1.3vw;
}

#section1 .phone1{
    background: url('/assets/img/Xiaomi/13Tpro.webp') bottom 20% center / 35% no-repeat;
}

#section1 .phone2{
    background: url('/assets/img/Xiaomi/13T.webp') bottom 20% center / 35% no-repeat;
}

#section1 .phone3{
    background: url('/assets/img/Xiaomi/13pro.webp') bottom 20% center / 35% no-repeat;
}

#section1 .phone4{
    background: url('/assets/img/Xiaomi/13.webp') bottom 20% center / 35% no-repeat;
}

#section4 .tv0:hover,
#section5 .findout:hover,
#section5 .tv:hover,
#section4 .tv:hover,
#section3 .findout:hover,
#section3 .phone:hover,
#section2 .findout:hover,
#section2 .phone:hover,
#section1 .phone:hover{
    box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.2);
    transition: 0.3s;
}

#content #section5,
#content #section4,
#content #section3,
#content #section2{
    display: flex;
    justify-content: space-evenly;
}

#content #section5 .findout,
#content #section5 .tv,
#content #section3 .findout,
#content #section3 .phone,
#content #section2 .findout,
#content #section2 .phone{
    width: 23.7vw;
    height: 36.2vw;
    background-color: #fff;
    margin-top: 15px;
    position: relative;
}

#content #section4 .findout,
#content #section4 .tv{
    width: 23.7vw;
    height: 36.2vw;
    background-color: #fff;
    margin-top: 15px;
}


#section5 .subsection2,
#section5 .subsection1,
#section3 .subsection2,
#section3 .subsection1,
#section2 .subsection2,
#section2 .subsection1{
    height: 36.2vw;;
    width: 48.2vw;
    justify-content: space-between;
}


#section3 .findout a,
#section3 .phone a,
#section2 .findout a,
#section2 .phone a{
    text-decoration: none;
    font-size: 1.2vw;
    color:#191919;
    text-transform:capitalize;
    text-align: center;
}

#section5 .findout,
#section3 .findout,
#section2 .findout{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section3 button,
#section2 button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#section3 .phone h1,
#section2 .phone h1{
    margin-top: 5vw;
}

#section5 .tv a,
#section4 .tv0 a,
#section4 .tv a{
    display: flex;
    text-decoration: none;
    color:#191919;
    align-items: center;
    text-transform:capitalize;
    flex-direction: column;
}

#section5 .findout a{
    display: flex;
    text-decoration: none;
    color:#191919;
    align-items: center;
    flex-direction: column;
}

#section3 .findout h5,
#section3 .phone h5,
#section2 .findout h5,
#section2 .phone h5,
#section5 .tv h5,
#section5 .findout h5,
#section4 .tv0 h5,
#section4 .tv h5{
    font-size: 1.2vw;
}

#section3 .findout h1,
#section3 .phone h1,
#section2 .findout h1,
#section2 .phone h1,
#section4 .tv0 h1,
#section5 .tv h1,
#section4 .tv h1{
    font-size: 2.5vw;
    font-weight: 600;
    margin-top: 8vw;
}

#section4 .tv button,
#section5 button,
#section3 button,
#section2 button{
    width: 40%;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    margin-top: 6%;
}


#section4 .tv0{
    height: 36.2vw;
    width: 48.2vw;
    margin-top: 15px;
    background-color: #fff;
}

#section4 .subsection3{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 36.2vw;
    width: 48.2vw;
}


#section4 .tv0 button{
    width: 20%;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    margin-top: 6%;
}

#section5 .tv2 h1{
    text-align: center;
}

#section2 .phone1{
    background: url('/assets/img/Xiaomi/12Tpro.webp') bottom 10% center / 55% no-repeat;
}

#section2 .phone2{
    background: url('/assets/img/Xiaomi/12T.webp') bottom 10% center / 55% no-repeat;
}

#section2 .phone3{
    background: url('/assets/img/Xiaomi/12pro.webp') bottom 10% center / 55% no-repeat;
}

#section5 .fa-arrow-right,
#section3 .fa-arrow-right,
#section2 .fa-arrow-right{
    margin-top: 20px;
    font-size: 2vw;
    color: #FC6800;
    padding: 3px 5px;
    border: solid 4px #FC6800;
    border-radius: 15px;
}

#section5 .subsection2,
#section5 .subsection1,
#section3 .subsection2,
#section3 .subsection1,
#section2 .subsection2,
#section2 .subsection1{
    display: flex;
    flex-direction: row;
}

.slider2{
    height: 40vw;
    background: url('/assets/img/Redmi/slider2.webp') top center / cover no-repeat;
    position: relative;
}

.slider2 .title{
    position: absolute;
    top: 40%;
    left: 10vw;
}

.slider2 div{
    font-size: 4vw;
    font-weight: 600;
}

.slider2 span{
    color: #E50012;
}

.slider2 .title button{
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    height: 45px;
    width:  55%;
    font-size: 2vw;
}

#section3 .phone1{
    background: url('/assets/img/Redmi/note12s.webp') bottom 10% center / 55% no-repeat;
}

#section3 .phone2{
    background: url('/assets/img/Redmi/A2+.webp') bottom 10% center / 55% no-repeat;
}

#section3 .phone3{
    background: url('/assets/img/Redmi/note12pro5g.webp') bottom 10% center / 55% no-repeat;
}

#section4 .tv1{
    background: url('/assets/img/TV/43FHD.webp') bottom 8% center / 30% no-repeat;
    background-color: #fff;
}

#section4 .tv2{
    background: url('/assets/img/TV/APro65.webp') bottom 10% center / 55% no-repeat;
}

#section4 .tv3{
    background: url('/assets/img/TV/A258.webp') bottom 10% center / 55% no-repeat;
}

#section5 .tv1{
    background: url('/assets/img/TV/A232.webp') bottom 10% center / 55% no-repeat;
}

#section5 .tv2{
    background: url('/assets/img/TV/speaker.webp') bottom 10% center / 55% no-repeat;
}

#section5 .tv3{
    background: url('/assets/img/TV/projector.webp') bottom 10% center / 55% no-repeat;
}

#footer{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000;
    height: 40vh;
    align-items: center;
    color: #fff;
    justify-content: space-around;
    font-size: 20px;
    position: relative;
}

#footer > .footer1{
    display: flex;
    flex-direction: row;    
}

#footer > .footer1 div{
    padding: 0 6vw;     
}

#footer .footer1 .about,
#footer .footer1 .help{
    display: flex;
    flex-direction: column;
}

#footer > .footer1 a{
    text-decoration: none;
    color: #898989;
} 

#footer span{
    font-weight: 600;
    color: #fff;
}

#footer a{
    font-size: 15px;
    text-decoration: none;
}

#footer .help{
    list-style: none;
}

#footer .follow{
    display: flex;
    flex-direction: column;
}

#footer .footer1  a{
    padding-top: 12px;
}

#footer .follow input{
    width: 18vw;
    height: 38px;
    border-radius: 12px;
    border: solid 2px #898989;
    background-color: #000;
}

#footer .follow i{
    font-size: 30px;
    padding: 3px 10px;
    color: #898989;
    
}

#footer .follow li{
}

#footer .follow input::after{
    width: 80vw;
    height: 2px;
    color: #fff;
}

#footer .endline{
    position: absolute;
    height: 1px;
    width: 80vw;
    background-color: #fff;
    bottom: 5vh;
}

/* Mobile: width < 740px */ 
@media only screen and (max-width: 46.2499em){
    *{
        font-size: 8px;
    }
    #header{
    
    }

    #logo .logo_link .image_change{
        width: 50px;
        height: auto;
        top: 12px;

    }

    #header .menu{
        display: none;
    }

    #content .xiaomi{
        padding-top: 15vw;
    }

    #content .title{
        height: 15vh;
    }
    
    .slider{
        margin-top: 54px;
        padding-top: 130%;
        background: url('/assets/img/Xiaomi/slidermb.webp') top center / 200% no-repeat;
    }

    .slider2{
        padding-top: 130%;
        background: url('/assets/img/Redmi/slider2mb.webp') top center / 200% no-repeat;
    }

    .slider .title{
        color: #fff;
        text-align: center;
        top: 20vh;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #section3,
    #section1{
        flex-direction: column;
    }

    #content #section1 .phone{
        width: 100vw;
        height: 140vw;
        margin-top: 2vw;
    }

    #section1 .phone a{
        margin-top: 18%;
    }

    #section1 .phone{
        background-size: 65%;
    }
    
    #section1 button{
        width: 30%;
        font-size: 10px;
    }

    #section5,
    #section3,
    #section2{
        flex-wrap: wrap;
    }
    
    #section5 .subsection2,
    #section5 .subsection1,
    #section3 .subsection2,
    #section3 .subsection1,
    #section2 .subsection2,
    #section2 .subsection1{
        width: 100vw;
        height: 70vw;
    }

    .subsection2 .phone,
    .subsection2 .findout,
    .subsection1 .phone{
        display: block;
        padding: 30vw 23.2vw;
        margin-top: 5px;
    }

    .subsection3 .tv,
    .subsection2 .tv,
    .subsection1 .tv{
        display: block;
        padding: 30vw 23.2vw;
        margin-top: 5px;
    }

    .subsection3 > .tv > a,
    .subsection2 > .tv > a,
    .subsection1 > .tv > a,
    .subsection2 > .phone > a,
    .subsection2 > .findout > a,
    .subsection1 > .phone > a{
        display: block;
        width: 40vw;
        transform: translateX(-50%);
        position: absolute;
        top: 6vw;
    }

    #section5 .subsection1 .h1,
    #section2 .subsection2 .h1,
    #section3 .subsection1 .h1{
        font-size: 10vw;
    }

    #section2 button{
        width: 40%;
        font-size: 5px;
    }

    #section3 .findout,
    #section3 .findout,
    #section2 .findout{
        padding: 30vw 23.2vw;
    }

    #section5 .findout a,
    #section3 .findout a,
    #section2 .findout a{
        left: 50%;
        top: 35%;
    }
 
    #section5 .findout i,
    #section3 .findout i,
    #section2 .findout i{
        border: solid 0.5vw ;
        font-size: 4vw;
        border-radius: 3vw;
    } 

    .subsection3{
        position: relative;
    }

    #section4 .tv0{
        width: 100vw;
        height: 55vw;
    }

    #section2 .subsection2{
        left: 0vw;
    }

    .slider2 .title{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        width: 80vw;
    }

    .slider2 div{
        font-size: 8vw;
        font-weight: 600;
        text-align: center;
    }

    .slider2 .title button{
        height: 30%;
        width:  40%;
        font-size: 4vw;
    }

    .slider2 span{
        font-size: 8vw;
    }


    #section3 .findout h1,
    #section3 .phone h1,
    #section2 .findout h1,
    #section2 .phone h1,
    #section5 .tv h1,
    #section5 .findout h1,
    #section4 .tv0 h1,
    #section4 .tv h1{
        margin-top: 5vw;
        font-size: 3.8vw;
    }

    #section3 .findout h5,
    #section3 .phone h5,
    #section2 .findout h5,
    #section2 .phone h5,
    #section5 .tv h5,
    #section5 .findout h5,
    #section4 .tv0 h5,
    #section4 .tv h5{
        font-size: 2.3vw;
    }

    #content button{
        height: 4vw;
        width: 18vw;
        font-size: 2vw;
        padding-top: 0.4vw;
    }

    #content .subsection1,
    #content .subsection2{
        justify-content: space-evenly;
    }

    #section4{
        width: 100vw;
        flex-direction: column;
    }
    
    #section4 .subsection3{
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
        width: 96vw;
        z-index: 2 ;
        height: 70vw;
    }

    #footer{
        flex-direction: column-reverse;
        position: relative;
    }
    #footer .footer1{
        display: none;
    }

    #footer .follow{
        position: absolute;
        top: 3vh;
        left: 5vw;
    }

    #footer span{
        font-size: 12px;
    }

    #footer .follow input{
        width: 85vw;
        height: 24px;       
    }
    #footer .follow  li{
        padding-top: 15px;
    }
}
/* Tablet: width >= 740 and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    *{
        font-size: 8px;
    }
    #logo .logo_link .image_change{
    width: 50px;
    height: auto;
    }
    #nav  li  a{
        padding: 0 12px;
    }

    #nav .submenu-list2 .fa-solid{
        top: 1vw;
    }

    #footer{
        flex-direction: column-reverse;  
    }

    #footer .follow{
        display: flex;
        flex-direction: row;
        padding-right: 9vw;
    }

    #footer .follow div{
        padding: 0 6vw;
    }

    #footer > .follow > .about,
    #footer > .follow > .help{
        display: inline-block;
    }

    #footer > .footer1 div{
        padding-right: 17vw;
        margin-bottom: 5vh;
    }
    #footer .follow input{
        width: 30vw;
        height: 24px;       
    }

    #footer span{
        font-size: 18px;
    }

    #footer a{
        font-size: 20px;
    }

}
/* PC: width >= 1024px */
@media only screen and (min-width: 64.0625em) {
    .navbar-expand-md{
        display: none;
    }
    
}